<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>QuAck</title>
</head>
 <body>
    <main>
        <section class="jumbotron text-center">
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
            <div class="container">
                <p class="lead text-muted">QuAck</p>
                <img src="{% static 'dabbing-duck.jpg' %}" height=300>
                <p class="lead text-muted">Welcome to our homepage!</p>
            </div>
        </section>

        <div class="container">
        <div class="row">
        <div class="col-md-4">   
{% for service in services.all %}  
            <a href="{% url 'section' service.id %}">    
            <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{ service.image.url }}" alt="Card image cap">
            <div class="card-body">
            <p class="card-text">{{ service.service }}</p>
            </div>
            </div>
        </div>
        </div>
        </div>
{% endfor %}
        
    </main>
    </body>
</html>